# Python bytecode files
*__pycache__/
*.py[cod]
*$py.class

# Tex files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.blg
*.brf
*.fdb_latexmk
*.maf
*.mtc
*.mtc0
*.nlo
*.gz
*.bbl
*.zip

Data/
saved_dataset/
saved_models/*
!saved_models/TCAN_100epochs_Best/
saved_results/*
!saved_results/new_dataset_results/
saved_results/new_dataset_results/*
!saved_results/new_dataset_results/TCAN/
saved_results/new_dataset_results/TCAN/*
!saved_results/new_dataset_results/TCAN/100 epochs/
